<section class="regions">

    <script>
        $(".nav li").removeClass("active");
        $('#citiesMenu').addClass('active');
    </script>

    <h3>Spanish Cities With La Liga Teams</h3>
    <hr />
    <div class="list-group col-sm-8 col-sm-offset-2">
        <label>Search Team:</label>
        <input ng-model="query" class="form-control" placeholder="Search" autofocus> 
        
        <label>
            <input type="radio" ng-model="direction" name="direction" checked>
            Ascending
        </label>
        <label>
            <input type="radio" ng-model="direction" name="direction" value="reverse">
            Descending
        </label>
    </div>

    <div class="list-group col-sm-12" id="city-list">
        <div ng-repeat="city in citiesArray| filter: {city_name : query} | orderBy:'city_name':direction">
            <div class="col-lg-6">
                <a href="#/citydetails/{{city.city_index}}" class="list-group-item list-group-custom">
                    <div class="row">
                        <div class="col-md-7 team-list-badge"><img style="height: 200px" ng-src="images/{{city.city_image}}"></div>
                        <div class="col-md-5">
                            <h4>{{city.city_name}}</h4>
                            <p>Teams in city:</p>
                            <p ng-repeat="team in city.teamsInCity">{{team.team_name}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
</section>