<section class="cityinfo">

    <script>
        $(".nav li").removeClass("active");
        $('#citiesMenu').addClass('active');
    </script>

    <hr />
    <h2>{{city.city_name}} (City)</h2>
    <div id="slides_control" class="col-md-6">        
        <uib-carousel interval="myInterval" active="activeSlide" id="imageCarousel">               
            <uib-slide ng-repeat="image in city.images"  index="$index">
                <img ng-src="images/{{image.url}}" style="margin:auto;">
                <div class="carousel-caption">
                    <h4>{{image.description}}</h4>
                </div>
            </uib-slide>
        </uib-carousel>
    </div>

    <div class="col-md-5 ">
         <h3>City Info</h3>
    <p>{{city.info}}</p>
    
        <h3>Football Team(s) in {{city.city_name}}:</h3>
        <ul>

            <li ng-repeat="team in teamsInCity">
                <a href="#/teamdetails/{{teamsJSON.indexOf(team)}}">
                    {{team.team_name}} 
                </a>                   
            </li>
        </ul>
    </div>

    <div class="col-sm-12">
        <hr />
        <div class="col-sm-6">
            <h3>Map of {{city.city_name}}</h3>
            
            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                <ui-gmap-marker
                    idKey='1'
                    coords='map.cords'>
                </ui-gmap-marker>          

            </ui-gmap-google-map> 
        </div>
        <div class="col-sm-4">
            <a href="#/regiondetails/{{regionsJSON.indexOf(cityRegion)}}">
                <h3>Within the {{cityRegion.region_name}} region</h3>
                <img class="img-responsive" ng-src="images/{{cityRegion.location}}">
            </a>
        </div>
    </div>

</section>
