<section class="homepage">

    <script>
        $(".nav li").removeClass("active");
        $('#homeMenu').addClass('active');
    </script>

    <hr />
    <h2>La Liga - The Best Together!</h2>
    <p>Welcome to the La Liga single page information site! Use the navigation at the top of the page to view teams, cities, and regions or use the search bar.</p>

    <div class="row" ng-cloak>
        <div uib-collapse="isCollapsed">

            <div class="col-md-6">
                <h3>Teams</h3>
                <div id="slides_control">
                    <uib-carousel interval="myInterval" active="activeSlideTeams" id="imageCarousel">               
                        <uib-slide ng-repeat="team in teamsJSON"  index="$index">
                            <a href="#/teamdetails/{{teamsJSON.indexOf(team)}}">
                                <img ng-src="images/{{team.images[0].url}}" style="margin:auto;">
                                <div class="carousel-caption">
                                    <h4>{{team.team_name}}</h4>
                                    <p>{{team.stadium}} Stadium</p>
                                </div>
                            </a>
                        </uib-slide>
                    </uib-carousel>
                </div>  
            </div>

            <div class="col-md-6">
                <h3>Cities</h3>
                <div id="slides_control">
                    <uib-carousel interval="myInterval" active="activeSlideCities" no-wrap="noWrapSlides" id="imageCarousel">               
                        <uib-slide ng-repeat="city in citiesJSON"  index="$index">
                            <a href="#/teamdetails/{{citiesJSON.indexOf(city)}}">
                                <img ng-src="images/{{city.images[0].url}}" style="margin:auto;">
                                <div class="carousel-caption">
                                    <h4>{{city.city_name}}</h4>
                                    <p>Stadium</p>
                                </div>
                            </a>
                        </uib-slide>
                    </uib-carousel>
                </div>              
            </div>
        </div>
        <a class="btn btn-default pull-right collapse-btn" ng-click="isCollapsed = !isCollapsed"><span class="glyphicon glyphicon-arrow-up"></span> Toggle image carousel</a>
    </div>
    <hr />
    <div class="container">
        <h2 ng-cloak>{{tableJSON.leagueCaption}} Current League Table</h2>

        <div class="col-lg-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Team</th>
                        <th>Points</th>
                        <th>Win</th>
                        <th>Lose</th>
                        <th>Draw</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="team in tableJSON.standing| limitTo:10">
                        <td>{{team.position}}</td>
                        <td>{{team.teamName}}</td>
                        <td>{{team.points}}</td>
                        <td>{{team.wins}}</td>
                        <td>{{team.losses}}</td>
                        <td>{{team.draws}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Team</th>
                        <th>Points</th>
                        <th>Win</th>
                        <th>Lose</th>
                        <th>Draw</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="team in tableJSON.standing| limitTo:10:10">
                        <td>{{team.position}}</td>
                        <td>{{team.teamName}}</td>
                        <td>{{team.points}}</td>
                        <td>{{team.wins}}</td>
                        <td>{{team.losses}}</td>
                        <td>{{team.draws}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>