<section class="map-page">

    <script>
        $(".nav li").removeClass("active");
        $('#mapMenu').addClass('active');
    </script>

    <!-- Different stylesheet used to reset size -->
    
    <link rel="stylesheet" type="text/css" href="./styles/mapstyle.css" />
    <h3>Map of Spain</h3>
    <p>Each marker on the map represents a city that has La Liga teams. Click the markers to expand the information.</p>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>

        <div ng-repeat="info in markers">

            <ui-gmap-marker
                idKey='info.id'
                coords='info.cords'>
                <ui-gmap-window>
                    <div>
                        <a href="#/citydetails/{{info.cityIndex}}">
                            <h4>{{info.window.title}}</h4>
                        </a>      
                        <a href="#/teamdetails/{{teamsJSON.indexOf(info.cityTeams[0])}}">
                            <p>{{info.cityTeams[0].team_name}}</p>
                        </a>
                        <a href="#/teamdetails/{{teamsJSON.indexOf(info.cityTeams[1])}}">
                            <p>{{info.cityTeams[1].team_name}}</p>
                        </a>
                        <a href="#/teamdetails/{{teamsJSON.indexOf(info.cityTeams[2])}}">
                            <p>{{info.cityTeams[2].team_name}}</p>
                        </a>
                        <a href="#/teamdetails/{{teamsJSON.indexOf(info.cityTeams[3])}}">
                            <p>{{info.cityTeams[3].team_name}}</p>
                        </a>
                    </div>                        
                </ui-gmap-window>
            </ui-gmap-marker>

        </div>

    </ui-gmap-google-map>

</section>