<section class="cityinfo" >

    <script>
        $(".nav li").removeClass("active");
        $('#regionsMenu').addClass('active');
    </script>

    <hr />
    <h2 class="ng-cloak">{{region.region_name}} (Region)</h2>
    <div id="slides_control" class="col-sm-6 ng-cloak">        
        <uib-carousel interval="myInterval" active="activeSlide" id="imageCarousel">               
            <uib-slide ng-repeat="image in region.images"  index="$index">
                <img ng-src="images/{{image.url}}" style="margin:auto;">
                <div class="carousel-caption">
                    <h4>{{image.description}}</h4>
                </div>
            </uib-slide>
        </uib-carousel>
    </div>

    <div class="col-sm-5 ">
        <h3>Region Info</h3>
        <p>{{region.info}}</p>
        <h3>Football Team(s) within {{region.region_name}}:</h3>
        <ul>
            <li ng-repeat="team in teamsInRegion">
                <a href="#/teamdetails/{{teamsJSON.indexOf(team)}}">
                    {{team.team_name}} 
                </a>                   
            </li>
        </ul>
        <h3>Cities with Team(s) within {{region.region_name}}:</h3>
        <ul>
            <li ng-repeat="city in citiesInRegion">
                <a href="#/citydetails/{{citiesJSON.indexOf(city)}}">
                    {{city.city_name}} 
                </a>                   
            </li>
        </ul>
    </div>

    <div class="col-sm-12">
        <hr />
        <div class="col-sm-6">
            <h3>Map location of {{region.region_name}}</h3>
            <ui-gmap-google-map center='map.center' zoom='map.zoom'>

            </ui-gmap-google-map> 
        </div>
        <div class="col-sm-4">
            <h3>Region Outline</h3>
            <img class="img-responsive" ng-src="images/{{region.location}}">

        </div>
    </div>

</section>
