<section class="regions">
    
       <script>
        $(".nav li").removeClass("active");
        $('#regionsMenu').addClass('active');
    </script>
    
    <h3>Spanish Regions With La Liga Teams</h3>
    <hr />
    <div class="list-group col-sm-8 col-sm-offset-2">
        <label>Search Team:</label>
        <input ng-model="query" class="form-control" placeholder="Search" autofocus> 

        <label>
            <input type="radio" ng-model="direction" name="direction" checked>
            Ascending
        </label>
        <label>
            <input type="radio" ng-model="direction" name="direction" value="reverse">
            Descending
        </label>
    </div>

    <div class="list-group col-sm-10 col-sm-offset-1" id="city-list">
        <div ng-repeat="region in regionsJSON| filter: {region_name : query} | orderBy:'region_name':direction">
            <div class="col-lg-6">
                <a href="#/regiondetails/{{regionsJSON.indexOf(region)}}" class="list-group-item list-group-custom">
                    <div class="row">
                        <div class="col-md-6 team-list-badge"><img style="height: 150px" ng-src="images/{{region.flag}}"></div>
                        <div class="col-md-6"><h4>{{region.region_name}}</h4></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</section>
