<section class="teams">

    <script>
        $(".nav li").removeClass("active");
        $('#teamsMenu').addClass('active');
    </script>

    <h3>La Liga Football Teams</h3>
    <hr />
    <div class="list-group col-sm-8 col-sm-offset-2">
        <label>Search Team:</label>
        <input ng-model="query" class="form-control" placeholder="Search" autofocus> 

        <label>
            <input type="radio" ng-model="direction" name="direction" checked>
            Ascending
        </label>
        <label>
            <input type="radio" ng-model="direction" name="direction" value="reverse">
            Descending
        </label>
    </div>

    <div class="list-group col-sm-10 col-sm-offset-1" id="team-list">
        <div ng-repeat="team in teamsJSON| filter: {team_name : query} | orderBy:'team_name':direction">
            <div class="col-lg-6">
                <a href="#/teamdetails/{{teamsJSON.indexOf(team)}}" class="list-group-item list-group-custom">
                    <div class="row">
                        <div class="col-md-6 team-list-badge"><img style="max-height: 125px" ng-src="images/{{team.badge}}"></div>
                        <div class="col-md-6">
                            <h4>{{team.team_name}}</h4>
                            <p>Stadium: {{team.stadium}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
</section>