<section class="teaminfo">

    <script>
        $(".nav li").removeClass("active");
        $('#teamsMenu').addClass('active');
    </script>

    <hr />
    <h2>{{teamsJSON[whichTeam].team_name}}</h2>
    <div class="col-sm-5">
        <h3>Badge</h2>
            <img ng-src="images/{{teamsJSON[whichTeam].badge}}" class="team-badge-img" alt="badge">
            </div>
            <div class="col-sm-6">
                <h3>Team Info</h3>
                <p>{{teamsJSON[whichTeam].info}}</p>
                <h3>Team Strips</h2>
                    <img ng-src="images/{{teamsJSON[whichTeam].strips}}" class="team-badge-img" alt="strips">
                    </div>
                    <div class="col-lg-12">
                        <hr  />
                        <h3>Current Squad</h3>
                        <div class="col-lg-6">
                            <table class="table table-striped">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>No.</th>
                                        <th>Position</th>
                                        <th>Player</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="player in teamDataApi.players| orderBy:'jerseyNumber' | limitTo:playerSizeSplit">
                                        <td>{{player.jerseyNumber}}</td>
                                        <td>{{player.position}}</td>
                                        <td>                                
                                            <img ng-src="images/flags/{{player.nationality}}.png" alt="{{player.nationality}}" title="{{player.nationality}}">  
                                            {{player.name}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>     
                        <div class="col-lg-6">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Position</th>
                                        <th>Player</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="player in teamDataApi.players| orderBy:'jerseyNumber' | limitTo:playerSizeSplit:playerSizeSplit">
                                        <td>{{player.jerseyNumber}}</td>
                                        <td>{{player.position}}</td>
                                        <td>                                
                                            <img ng-src="images/flags/{{player.nationality}}.png" alt="{{player.nationality}}" title="{{player.nationality}}">  
                                            {{player.name}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>     
                    </div>
                    <div class="col-lg-12">
                        <hr />
                        <h3>Home city : 
                            <a href="#/citydetails/{{citiesJSON.indexOf(teamCity)}}">
                                {{teamCity.city_name}}
                            </a>
                        </h3>
                        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                            <ui-gmap-marker
                                idKey='1'
                                coords='map.cords'>
                            </ui-gmap-marker>

                        </ui-gmap-google-map>                        
                    </div>
                    </section>