/*Used to cloak unrendered angular data*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
    padding-bottom: 20px;
    background-color: #E8ECEF;
}


#navigation {
    color: white;
    background: #202020;
    padding: 10px;
    margin-bottom: 0px;
}

#brand-image {
    position:relative;
    background-image:    url(../images/laligalogo.png);
    background-size: 100% 100%;
    background-position: center;
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

#title-text {
    float: left;
    text-align: center;
}

#main-container {
    background-color: white;
    box-shadow: 0px 0px 15px #888888;
    padding-bottom: 20px;
}

/*main container transitions*/
#main-container.ng-enter {
    transition: all linear 200ms;
    opacity: 0;
}
#main-container.ng-enter-active {
    opacity: 1;
}
#main-container.ng-leave {
    transition: all linear 200ms;
    opacity: 1;
}
#main-container.ng-leave-active {
    opacity: 0;
}


#imageCarousel {
    height: 400px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

#imageCarousel img {
    height: 400px;
    width: auto;
}

.team-badge-img {
    display:block;
    margin:auto;
}

.angular-google-map-container { 
    height: 400px; 
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.team-list-badge{
    margin: 0 auto;
}


.list-group {
    /*    box-shadow: 0px 0px 15px #888888;*/
    box-shadow: none;
}

.list-group-custom {
    margin: 10px;
    box-shadow: 0px 0px 5px #888888;
}

#team-list img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
}

#city-list img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

#region-image img {
    max-width: 100%;
}

.collapse-btn {
    margin: 15px;
}